<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.eccweizhi.androidinstantapptemplate.summer">

    <application>
        <activity android:name=".ui.SummerActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="androidinstantapptemplate.eccweizhi.app"
                    android:path="/summer" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="androidinstantapptemplate.eccweizhi.app"
                    android:path="/summer" />
            </intent-filter>
        </activity>
    </application>

</manifest>